data/

processing/rady_process/*.csv
processing/rady_process/ALL_ADMITS_EXP/data_views/
processing/rady_process/SEQ_ADMITS/data_views/

analysis/prelim_plots/
analysis/test*
analysis/bar
analysis/zar
analysis/foo*
analysis/*.png
analysis/*.csv
